<div class="mt-3 w-50 mx-auto">
  <select class="form-select form-select-lg" name="category" id="category">
    <option>類別</option>
    {{#each categories}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <div class="mt-5 d-flex justify-content-evenly">
    <div class="fw-bold fs-4">
      總金額：
    </div>
    <div class="text-danger" style="font-size: 100px;">{{totalAmount}}</div>
  </div>

  <table class="table table-striped mt-2">
    {{#each records}}
      <tr class="align-middle">
        <td class="col-4">
          <div class="d-flex flex-row align-items-center">
            <i class="{{getIcons this.Category.name}} mt-1 me-2 text-success-emphasis" style="font-size: 30px; width: 15px;"></i>
            <div class="d-flex flex-column ms-4 h-100">
              <span>{{this.name}}</span>
              <span style="font-size: 10px;">{{this.date}}</span>
            </div>
          </div>
        </td>
        <td class="col-4">{{this.amount}}</td>
        <td class="col-4">
          <div class="d-flex flex-row">
            <a class="btn btn-primary me-2" href="/records/{{this.id}}/edit">修改</a>
            <form action="/records/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger" onclick="return confirm(`你確定要刪除 {{this.name}} 嗎？`)">刪除</button>
            </form>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
  <div class="text-center my-4">
    <a class="btn btn-success" href="/records/create" style="width: 140px;">新增支出</a>
  </div>
</div>